@use "../abstracts/colors";


[fade-in] {
    opacity: 0;
    transition: opacity 1s easeOutQuint 0.2s;

    &.is-intersecting {
        opacity: 1;
    }
}

.field-error {
    @apply text-red-600 text-sm min-h-error-field;

    line-height: 1;
}

.btn {
    transition: background-color 0.3s easeInOutSine, opacity 0.3s easeInOutSine;

    &.success {
        @apply bg-green-600;
    }

    &[disabled] {
        cursor: not-allowed;
        pointer-events: none;

        &:not(.success) {
            opacity: 0.5;
        }
    }
}