@use "variables/colors";

a {
    position: relative;
    cursor: pointer;
    text-transform: capitalize;
    transition: color 200ms ease;

    &::after {
        content: "";
        background-color: colors.$primary;
        height: 2px;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s easeOutQuint;
    }

    &.active {
        color: colors.$primary;
    }

    &.active::after {
        transform-origin: left;
        transform: scaleX(1);
    }
}

nav {
    $gap: 4rem;

    ul {
        gap: $gap;
    }
}

.logo {
    color: colors.$primary;
}

[fade-in] {
    opacity: 0;
    transition: opacity 1s easeOutQuint 0.2s;

    &.is-intersecting {
        opacity: 1;
    }
}

.field-error {
    @apply text-red-600 text-sm min-h-error-field;

    line-height: 1;
}

.btn {
    transition: background-color 0.3s easeInOutSine, opacity 0.3s easeInOutSine;

    &.success {
        @apply bg-green-600;
    }

    &[disabled] {
        cursor: not-allowed;
        pointer-events: none;

        &:not(.success) {
            opacity: 0.5;
        }
    }
}
